body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #181818;
  color: #fff;
}
header {
  display: flex;
  align-items: center;
  background-color: #202020;
  padding: 8px 16px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  font-weight: 700;
  font-size: 24px;
  margin-right: 16px;
}
input#searchInput {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  margin-right: 8px;
}
button#searchBtn {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #cc0000;
  color: white;
  cursor: pointer;
}
button#searchBtn:hover {
  background-color: #e60000;
}
main {
  padding: 16px;
}
#videoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 16px;
}
.video-card {
  cursor: pointer;
  background-color: #282828;
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 0.3s;
}
.video-card:hover {
  background-color: #383838;
}
.thumbnail {
  width: 100%;
  height: auto;
  display: block;
}
.video-info {
  display: flex;
  padding: 8px;
}
.channel-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 8px;
}
.text-info {
  flex-grow: 1;
}
.video-title {
  font-weight: 600;
  margin: 0 0 4px;
}
.video-channel, .video-stats {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}
#playerContainer {
  margin-top: 32px;
  text-align: center;
}

